:root {
    --fuente: 'Rubik', sans-serif;
    --paleViolet: Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%);
    --moderateViolet: rgb(146, 65, 200);
    --darkViolet: rgb(110, 93, 126);
    --grayishBlue: hsl(206, 6%, 79%);
    --desaturatedViolet: hsl(271, 36%, 24%);
    --darkGrayish: hsl(270, 7%, 64%);
    --lightGrayish: hsl(270, 20%, 96%);
    --white: #ffffff;
    --background-body: #f5f3f8;
    --gray: #ebe4f2;
    --light-Magenta: rgb(233, 66, 255);
    --light-Violet: hsl(264, 100%, 61%);
    --veryLightMagenta: hsl(289, 100%, 72%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightGrayish);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.white-box{
    background-color: var(--white);
    width:8.2rem;
    height:1.9rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    top:3.5rem;
}
.container{
    width: 16rem;
    border-radius: 2rem;
    background-color: var(--white);
    padding:.6rem;
    -webkit-box-shadow: 13px 16px 15px -6px rgba(0,0,0,0.11); 
box-shadow: 13px 16px 15px -6px rgba(0,0,0,0.11);
}

.chat {
    overflow: hidden;
    border-radius: 1.5rem;
    /* position: relative; */
    /* margin:1rem; */
}

.chat .contact {
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff);
    align-items: center;
    padding-top: 1.7rem;
    padding-bottom: .7rem;
    padding-left: .5rem;
    padding-right: .5rem;
    
}

.chat .contact .left,
.chat .contact .right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat .contact .left .name {
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.8);
    padding-left: .5rem;

}

.chat .contact .left .name .name-text {
    display: block;
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.3)
}

.chat .contact .icon {
    color: var(--white);
    font-size: .8rem;
}

.chat .contact .left .img-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--white);

}
.chat .contact .left .icon-left{
    color:var(--white);
}

.chat .contact .left .icon {
    padding-right: .3rem;
}

.chat .content-chat {
    background-color: var(--lightGrayish);
    padding: .5rem;
    font-weight: 700;
    font-size: .6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat .content-chat .text-received {
    width: 9rem;
    padding: .7rem;
    background-color: var(--gray);
    color: var(--moderateViolet);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: 1rem;
    margin-top: .5rem;
    font-weight: 700;


}

.chat .content-chat .message-sent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.chat .content-chat .message-sent .text-sent {
    margin-top: .5rem;
    background-color: var(--white);
    max-width: 9rem;
    /* font-size: .6rem; */
    color: var(--darkGrayish);
    padding: .5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: .2rem;


}

.chat .content-chat .message-sent .img-sent {
    background-color: var(--lightGrayish);
    width: 2.5rem;
    height: 2.5rem;
    margin-left: .3rem;
    border-radius: 25%;
    margin-top: 1rem;

}


.chat .content-chat .btn-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
    margin-top:.5rem;
    padding:.5rem .5rem;
    background-image: linear-gradient(to right, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff);
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .7rem;
}

.chat .content-chat .btn-price .left .description{
    color:rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
}
.chat .content-chat .btn-price .left .description .icon {
    font-size:1rem;
    color:rgba(255, 255, 255, 0.3);
    padding-right: .5rem;
    
}

.chat .content-chat .btn-price .right{
    color:var(--white);
    font-size:1rem;
}