:root {
    --fuente: 'Rubik', sans-serif;
    --paleViolet: Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%);
    --moderateViolet: rgb(146, 65, 200);
    --darkViolet: rgb(110, 93, 126);
    --grayishBlue: hsl(206, 6%, 79%);
    --desaturatedViolet: hsl(271, 36%, 24%);
    --darkGrayish: hsl(270, 7%, 64%);
    --lightGrayish: hsl(270, 20%, 96%);
    --white: #ffffff;
    --background-body: #f5f3f8;
    --gray: #ebe4f2;
    --light-Magenta: #e942ff;
    --light-Violet: #8838ff;
    --veryLightMagenta: hsl(289, 100%, 72%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--lightGrayish);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}


.white-box {
    background-color: var(--white);
    width: 8.2rem;
    height: 1.5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    position: absolute;
    top: 3.3rem;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    width: 15rem;

    border-radius: 2rem;
    background-color: var(--white);
    padding: .6rem;
    -webkit-box-shadow: 13px 16px 15px -6px rgba(0, 0, 0, 0.11);
    box-shadow: 13px 16px 15px -6px rgba(0, 0, 0, 0.11);
}

.chat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    border-radius: 1.5rem;
    position: relative;
    /* margin:1rem; */
}

.chat .contact {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff);
    align-items: center;
    padding: 1.5rem .5rem .7rem .5rem;


}

.chat .contact .left,
.chat .contact .right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.chat .contact .left .name {
    font-size: .7rem;
    color: rgba(255, 255, 255, 0.8);
    padding-left: .5rem;

}

.chat .contact .left .name .name-text {
    display: block;
    font-size: .5rem;
    color: rgba(255, 255, 255, 0.3)
}

.chat .contact .icon {
    color: var(--white);
    font-size: .8rem;
}

.chat .contact .left .img-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--white);

}

.chat .contact .left .icon-left {
    color: var(--white);
}

.chat .contact .left .icon {
    padding-right: .3rem;
}

.chat .content-chat {
    background-color: var(--lightGrayish);
    padding: .5rem;
    font-weight: 700;
    font-size: .6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: .1rem;
}

.chat .content-chat .text-received {
    width: 9rem;
    padding: .5rem;
    background-color: var(--gray);
    color: var(--moderateViolet);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: 1rem;
    margin-top: .5rem;
    font-weight: 700;


}

.chat .content-chat .message-sent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.chat .content-chat .message-sent .text-sent {
    margin-top: .5rem;
    background-color: var(--white);
    max-width: 9rem;
    color: var(--darkGrayish);
    padding: .5rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: .2rem;


}

.chat .content-chat .message-sent .img-sent {
    background-color: var(--lightGrayish);
    width: 2.5rem;
    height: 2.5rem;
    margin-left: .3rem;
    border-radius: 25%;
    margin-top: 1rem;

}


.chat .content-chat .btn-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
    margin-top: .5rem;
    padding: .5rem .5rem;
    background-image: linear-gradient(to right, #e942ff, #d43eff, #bd3bff, #a439ff, #8838ff);
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .7rem;
}

.chat .content-chat .btn-price .left .description {
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.chat .content-chat .btn-price .left .description .icon {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
    padding-right: .5rem;

}

.chat .content-chat .btn-price .right {
    color: var(--white);
    font-size: 1rem;
}

.container .chat .content-chat .input-message {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: var(--white);
    padding: .2rem 0;
    width: 100%;
    border-radius: 15rem;
    border: none;
    margin: 1rem 0;
    padding-left: 1rem;
    
}

.container .chat .content-chat .input-message input {
    display:flex;
    justify-content:center;
    color: var(--grayishBlue);
    border:none;
    font-weight: 700;
    font-size: .6rem;
    letter-spacing: -0.1px;
}

.container .input-message .input-icon {
    font-size: 1.5rem;
    padding-left: 2.5rem;
    color: var(--desaturatedViolet);

}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;

}

.content h2 {
    font-size: 2.7rem;
    color: var(--desaturatedViolet);
}

.content p {
    font-size: 1.2rem;
    color: var(--darkGrayish);
    margin-top: 2.5rem;
    text-align: center;
    line-height: 2rem;
    font-weight: 500;
}

.color-purple {
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    position: absolute;
    border-radius: 0 0 15rem 0;
    z-index: -1;
    top: 0;
    left: 0;

}

.color-gray {
    width: 50%;
    height: 50vh;
    background-color: #edeaf1;
    position: absolute;
    border-radius: 15rem 0 0 0;
    z-index: -1;
    bottom: 0;
    right: 0;

}

@media only screen and (min-width: 376px) {
    .container {
        display: flex;
    }

    .color-purple {
        width: 20rem;
        height: 35rem;
        border-radius: 0 0 7rem 7rem;
    }

    /* .container{
    width: 15rem;
    height: 30rem;
    position:absolute;
    left:10rem;
    overflow: none;
  } */

    .chat {

        border-radius: 1.5rem;
        position: relative;
        /* margin:1rem; */
    }
}